<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegressionTests" verbose="1" >
    <test name="Regression" >
        <classes>
            <class name="com.telran.tests.alltests.TeamTests"></class>
            <class name="com.telran.tests.alltests.BoardCreationNewTests"></class><class name="com.telran.tests.alltests.ProfileTests"></class>
            <class name="com.telran.tests.alltests.BoardDeletionTests"></class><class name="com.telran.tests.alltests.ProfileTests"></class>
        </classes>
    </test>
</suite>
